@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
:root{
  --stdfont: rgb(15, 25, 50);
  --stdbutton-bg: rgb(220,224,228);
  --stdbutton-br: rgb(220,224,228);
  --stdbutton-hv-bg: rgb(245,249,249);
  --stdbutton-hv-br: rgb(200,205,205);
  --stdbutton-ac: rgb(220,224,228);
  --stdbutton-disabled-font-color: red;
  --stdbutton-disabled-border: red;
}

.my-button {
  display: inline-block;
  margin: 0.25rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: var(--stdfont);
  background-color: var(--stdbutton-bg);
  border-color: var(--stdbutton-br);
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  transition:0.2s ease-in-out;
  cursor: pointer;
}

.my-button:hover {
  background-color: var(--stdbutton-hv-bg);
  border-color: var(--stdbutton-hv-br); 
}
.my-button:active{
  color: var(--stdbutton-ac);
  transition:0s;
}
.my-button:focus{
  outline:0;
}

.my-button.disabled{
  opacity: 0.5;
  cursor: not-allowed;
}
.my-button.disabled:hover{
  background-color: var(--stdbutton-bg);
  border-color: var(--stdbutton-br);
}
.my-button.disabled:active{
  color: var(--stdbutton-disabled-font-color);
  border-color: var(--stdbutton-disabled-border)
  transition:0s;
}
.my-button.disabled:focus{
  outline:0;
}
